$colormain: rgba(31, 127, 151, 0.658) ;

*{
	margin: 0;
	padding: 0;
}

body { overflow-x: hidden;}
html { font-size: 62.5%;}


@font-face {
	font-family: 'Raleway-Bold';
	src: url('../assets/font/Raleway-Bold.ttf');
}

@font-face {
		font-family: 'Amstagram';
		src: url('../assets/font/Amstagram.ttf');
}


@import "layout" ;

p{
	font-size: 2rem;
	padding-top: 10px;
}

a{
	color: white !important;
	text-decoration: none !important;
	font-size: 2rem;
}

.menu_bar {
	display: none;
}

nav{
	width: 50%;
     ul{
        list-style-type: none;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;}
}

li{
	font-family: 'Raleway-Bold';
}
.imagen-responsive {
	max-width: 100%;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
}

.noticia {
	border-top: solid 2px $colormain;
	height: 500px;
	display: flex;
	background-color: rgb(245, 245, 245);
	flex-direction: row-reverse;
	padding: 1%;
	background-image: linear-gradient(to top, rgb(0, 0, 0) ,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));

}
article {
	width: 50%;
	margin: 30px;
	overflow: auto;
}

h1 {
	font-family: 'Raleway-Bold';
	font-size: 4rem;
	margin: 50px 50px 0 50px;
	border-top: solid 2px black ;
	border-bottom: solid 2px black ;

}

h2 {
	font-family: 'Raleway-Bold';
	font-size: 3rem;
}
h3 {
	font-family: sans-serif;
}

.video-responsive {
	overflow: hidden;
	width: 50%;
	height: auto;
	margin: 30px;
}

.ley-footer {
	width: auto;
	margin: 20px;
	color: white;
}

.productos {
	background-color: rgb(245, 245, 245);
	height: 450px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-start;
	margin: 0 50px 20px 50px;
	padding: 30px;
}

.productos article {
	width: 50%;
	height: 90%;
	margin: 30PX;
	overflow: auto
}

.dropdown-item:focus, .dropdown-item:hover {

	background-color: $colormain !important;

}

@import "media" ;